name: Twilio SDK

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/sdk.yml
      - service/**
      - go.sum
      - makefile
      - main.go

jobs:
  pipeline:
    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x]
        os: [ubuntu-18.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install tools
        run: make tools

      - name: Download Dependencies
        run: make download

      - name: Build
        run: make build

      - name: Test
        run: make test

  Report:
    runs-on: ubuntu-18.04
    needs: pipeline
    steps:
      - uses: actions/checkout@v1

      - name: Refresh Go Report Card
        if: github.ref == 'refs/heads/main'
        continue-on-error: true
        timeout-minutes: 2
        run: make goreportcard-refresh
